.button {
  align-self: center;
  margin: 2px !important;
}
.button:hover {
  color: black;
  border: 1px solid black !important;
}
.div {
  display: flex;
  justify-content: center;
  align-content: center;
}
@media (max-width: 768px) {
  .div {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 10px !important;
  }
}
@media (max-width: 400px) {
  .button {
    font-size: 7px !important;
  }
}
