.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreatePost {
  width: 150px;
  height: 50px;
  color: gray;
  border: 1px solid black;
  background-color: white;
}


.button:hover {
  color: black;
  border: 1px solid black !important;
}