.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 71vh;
  width: 90vw;
  background-color: #e9e9e9;
  background-image: url('../assets/home/background.png');
}

.form {
  align-self: center;
  padding: 30px;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: rgb(115, 167, 203);
  background: radial-gradient(
    circle,
    rgba(115, 167, 203, 0.804359243697479) 10%,
    rgba(115, 167, 203, 0.5606617647058824) 90%
  );
  color: white;
  height: max-content;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form .formContainer {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.form .inputsContainer {
  height: max-content;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form select,
input {
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: black;
  font-family: 'Poppins';
  padding-left: 10px;
  width: 150px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
}

.form .file {
  order: 0;
  width: 150px;
  position: relative;
  transition: 0.4s;
}

.form .file::before {
  order: 1;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  content: 'Subir imagen';
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  bottom: 0;
  transition: 0.3s;
  cursor: pointer;
}

.form button[type='submit'] {
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  padding: 10px 50px;
  margin: 10px;
  border: 0;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.86, 0.01, 0.15, 0.99);
  position: relative;
  transition: 0.4s;
}

.form button::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  transition: 0.4s;
}

.form button.gradient:hover {
  color: white;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
.submit {
  width: 200px;
  background: #fff;
  transform: perspective(1px) translateZ(0);
  color: black;
  transition: 0.4s;
}

.submit::before {
  background: #73a7cb;
  clip-path: inset(0 100% 0 0);
  opacity: 1;
  transition: 0.4s;
}
.submit:hover::before {
  clip-path: inset(0 0 0 0);
}

.submit:hover {
  color: white;
  box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
}

.form .file:hover::before {
  color: white;
  background-color: #73a7cb;
}

.form textarea {
  font-family: 'Poppins';
  padding: 10px 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}

.form .MuiFormControl-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .form .formContainer {
    flex-direction: column;
  }
}
