.mensaje{
    width:100%;
    position:absolute;
    left:0px;
}

.inputChat{
    position:absolute;
    bottom:5px;
    left:5px;
}



/* .inputSubmit{
    width:760px;
    height:50px;
    border:none;
    position:absolute;
    bottom:10px;
    right:18px;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius:5px;
}

.boton{
    width:65px;
    height:50px;
    top: 12px;
    position:absolute;
    right:-10px;
    border: none;
    color: rgb(44, 141, 197);
} */
/* .mensaje.own {
    right: 1px;
    float: right;
    background-color: rgb(3, 20, 31);
    color: rgba(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    align-self: flex-end;
    margin: 15px;
}
mensaje.other{
    left: 1px;
    float: left;
    background-color: rgba(255, 255, 255);
    color:rgb(70, 155, 204) ;
    padding: 0px 8px;
    margin: 15px;
} */
/* .messages.own{
    align-items: flex-end;
}

.messages.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
} */
.noConv{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    color:rgb(70, 155, 204);
}
.noConv p{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
}
.conv{
    width:400px;
    height:600px;
    border:none;
    margin: 10px;
    border-radius: 20px 0px 0px 20px;
    text-align: left;
    background-color: #99a3a75d;
    backdrop-filter: blur(2px);
    padding: 10px;
}

.inputChat{
    position:absolute;
    bottom:5px;
    left:5px;
    width: 90%;
}

.inputSubmit{
    width:818px;
    height:50px;
    border:none;
    position:absolute;
    bottom:10px;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius:5px 5px 5px 0px;
    top: 645px;
    left: 430px;
}

.boton{
    width:65px;
    height:50px;
    top: 12px;
    position:absolute;
    right:-10px;
    border: none;
    color: rgb(44, 141, 197);
}
.own {
    left:0px;
    float: right;
    background-color: rgb(70, 155, 204);
    color: rgba(255, 255, 255);
    border-radius: 5px;
    padding:0px 5px 0px 5px;
    position: relative;
    align-self: flex-end;
    margin: 3px;
    flex-direction: row-reverse;
    
}
.other{
    left: 5px;
    float: left;
    background-color: rgba(255, 255, 255);
    color:rgb(70, 155, 204) ;
    position: relative;
    align-self: flex-start;
    margin: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}
.mensaje{
    display: flex;
    flex-direction: column;
   
}
body{
    background-color: #e9e9e9;
    background-image: url('../../assets/home/background.png');
    font-family: 'Roboto',sans-serif;
   
}
.fondoChat{
    border:none;
    width: 800px;
    height: 550px;
    padding: 8px;
    position: absolute;
    left: 430px;
    top: 77px;
    border-radius: 0px 20px 20px 0px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.315);
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
.none{
    background-color: #e9e9e9;
    height: 400px;
    width: 400px;
}
