body {
  background-color: rgb(115, 167, 203);
  font-family: 'Poppins';
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  margin-top: 100px;
  color: white;
  text-align: center;
}

.titulo h1 {
  font-size: 25px;
  font-weight: bold;
}

.titulo img {
  width: 250px;
}

.link {
}
